:root {
	--white: 255, 255, 255;
	--main-text-color: 0, 0, 0;
	--secondary-text-color: 85, 85, 85;
	--primary: 29, 24, 66;
	--secondary: 244, 245, 246;
	--tertiary: 142, 13, 60;
	--tint-grey: 227, 227, 227;
	--tint-orange: 239, 59, 51;
	--tint-salmon: 253, 161, 162;
  --cadmium-green: 9, 121, 105;
}
