.page-enter-active,
.page-leave-active {
	transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

body {
	margin: 0;
	font-family: "DM Sans", sans-serif;
}

.container {
	max-width: 1400px;
	margin: auto;
	position: relative;
}

.page-content {
	padding-top: 4rem;
}

.page-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
	position: relative;
	z-index: 1;
}
.header-secondary {
	background-color: rgb(var(--secondary));
}
.logo {
	height: 1.5rem;
	margin-right: 1rem;
}
.navbar-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
	list-style: none;
}
.navbar-menu li {
	margin-left: 1rem;
}
.navbar-menu li a {
	color: rgb(var(--main-text-color));
	text-decoration: none;
	font-weight: 700;
}
.navbar-menu li a:hover,
.navbar-menu li a:focus,
.navbar-menu li a:focus-visible,
.navbar-menu li a.router-link-active{
	color: rgb(var(--tertiary));
}

.primary-button {
	background-color: rgb(var(--tertiary));
	color: rgb(var(--white));
	padding: 0.6rem 1.5rem;
	text-decoration: none;
	font-weight: 400;
	border-radius: 0.25rem;
}
.primary-button:hover {
	background-color: rgba(var(--tertiary), 0.9);
}


@media screen and (max-width: 1024px) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
